.typora-tree {
  width: 270px;
  overflow: auto;
}

.typora-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 1.8em;
}

.typora-content {
  flex: 1;
  padding: 10px;
  overflow: auto;
  font-size: 16px;
}

.typora-img {
  width: 100%;
}

.typora-table {
  border-collapse: collapse;
  width: 100%;
}

.typora-td {
  border: 1px solid black;
  padding: 10px;
}

.typora-th {
  border: 1px solid black;
  padding: 10px;
}
.typora-code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 22px;
}
.typora-li {
  margin-top: 0.25em;
}

.typora-img {
  width: 100%;
}

.typora-icon {
  width: 14px;
  height: 14px;
  fill: var(--app-font-color);
}

.typora-tree .rc-tree-node-selected {
  background-color: #91919185;
  box-shadow: 0 0 0 1px #91919185;
}

.typora-tree .rc-tree-switcher {
  background-image: none !important;
}

.typora-tree .rc-tree-treenode {
  line-height: 30px;
}

.typora-tree .rc-tree-node-content-wrapper {
  height: 30px !important;
}

.typora-switcher-icon {
  width: 14px;
  height: 14px;
  fill: var(--app-font-color);
}
