.splashScreen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%);

    .appleIcon {
      width: 200px;
      height: 200px;
      margin-bottom: 30%;
    }
  }
}
