@import "./themes.less";

html,
body,
h1,
h2,
h3,
h4,
p,
button,
input {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  position: relative;
  color: var(--app-font-color);
}

:global(#root) {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
}

:global(html.dark) {
  color-scheme: dark;
}
