@import "~@less/variables.less";
@tooltipBgC: #e8e8e8;
@arrowSize: 12px;
@boxShadowColor: #00000012;

.tooltip {
  position: relative;

  .arrowTop {
    transform: translate(-50%, -100%);
  }

  .arrowBottom {
    transform: translate(-50%, 100%);
    bottom: 0;
  }

  .arrow {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
    left: 50%;

    .arrowContent {
      position: absolute;
      width: @arrowSize;
      height: @arrowSize;
      border-radius: 0 0 3px;
      background-color: @tooltipBgC;
      pointer-events: none;
      // box-shadow: 3px 3px 7px @boxShadowColor;
      margin: auto;
      inset: 0;
    }

    .arrowContentBottom {
      transform: translateY((-@arrowSize)) rotate(45deg);
    }

    .arrowContentTop {
      transform: translateY((@arrowSize)) rotate(-135deg);
    }
  }

  .content {
    padding: 2px 10px;
    background-color: @tooltipBgC;
    border-radius: 5px;
    // box-shadow: @containerBoxShadow;
    white-space: nowrap;
  }
}

.tooltipTop {
  transform: translateY((@arrowSize / -2));
}

.tooltipBottom {
  transform: translateY((@arrowSize / 2));
}
