@import "~@less/variables.less";
@import "~@less/mixins.less";
@arrowSize: 12px;
@boxShadowColor: #00000012;

.tooltip {
  position: relative;
  box-shadow: @containerBoxShadow;

  .arrowTop {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .arrowTopLeft {
    left: 0;
    transform: translate(0, -100%);
  }

  .arrowTopRight {
    right: 0;
    transform: translate(0, -100%);
  }

  .arrowBottom {
    transform: translate(-50%, 100%);
    bottom: 0;
    left: 50%;
  }

  .arrowBottomLeft {
    transform: translate(0, 100%);
    bottom: 0;
    left: 0;
  }

  .arrowBottomRight {
    transform: translate(0, 100%);
    bottom: 0;
    right: 0;
  }

  .arrow {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;

    .arrowContent {
      position: absolute;
      width: @arrowSize;
      height: @arrowSize;
      border-radius: 0 0 3px;
      background-color: hsla(var(--window-content-bgc-hsl), 0.8);
      backdrop-filter: blur(15px);
      pointer-events: none;
      margin: auto;
      inset: 0;
      box-shadow: 3px 3px 7px #00000012;
      .toggleThemeAnimation();
    }

    .arrowContentBottom {
      transform: translateY((-@arrowSize)) rotate(45deg);
    }

    .arrowContentTop {
      transform: translateY((@arrowSize)) rotate(-135deg);
    }
  }
}

.content {
  padding: 2px 10px;
  background-color: hsla(var(--window-content-bgc-hsl), 0.8);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  white-space: nowrap;
  .toggleThemeAnimation();
}
