@import "~@less/variables.less";
@import "~@less/mixins.less";

.button {
  font-size: 14px;
  padding: 6px 18px;
  transition: all 0.3s;
  border-radius: 3px;
  background-color: var(--input-background-color);
  border: none;
  outline: none;
  line-height: @baseLineHeight;
  .toggleThemeAnimation();

  span {
    vertical-align: middle;
  }
}

.default {
  border: 1px solid #e3e3e3;

  &:hover {
    color: @hoverColor;
    border-color: @hoverColor;
  }
}

.primary {
  border: 1px solid @hoverColor;
  background-color: @hoverColor;
  color: #fff;

  &:hover {
    background-color: #33b4de;
    border-color: #33b4de;
  }
}

.text {
  border: none;
  padding: 5px;

  &:hover {
    color: @hoverColor;
  }
}
